<div id="addressapp">
  <div class="title">
    <h1>Address Book</h1>
  </div>

  <div class="content">
    <div id="create-address">
      <input id="new-address" placeholder="What address are you adding?" type="text" />
      <input id="new-nick" placeholder="What's the nickname?'" type="text" />
    </div>
    <div id="pushButton">
      <button type="button" class="btn btn-success">Submit</button>
    </div>

    <div id="addresses">
      <ul id="address-list"></ul>
    </div>
  </div>
</div>